body {
  overflow: hidden;
}

header {
  .navbar {
    background: rgba(0, 0, 0, .7);
    border: 0px solid;
    border-radius: 0px;
    .navbar-brand {
      color: #FFF;
    }
    a, li > a, .navbar-nav > li > a, .navbar-text {
      color: #FFF;
      &:hover {
        color: #FFF;
      }
    }
    .caret {
      color: #FFF;
    }
  }
  .dropdown-menu {
    a, li > a, .navbar-nav > li > a, .navbar-text {
      color: #000;
      &:hover {
        color: #000;
      }
    }
    &.open {
      .caret {
        color: #000;
      }
    }
  }
  .dropdown {
    &.open {
      .caret {
        color: #000;
      }
    }
  }
}

.page-content {
  height: 100%;
  .site-layout {
    width: 100%;
    height: 100%;
    > header {
      position: fixed;
      z-index: 3;
      top: 10px;
      width: 100%;
      height: 70px;
      //background: rgba(0, 0, 0, .7);
    }
    > footer {
      position: fixed;
      z-index: 3;
      bottom: 10px;
      width: 100%;
      height: 130px;
      //background: rgba(255, 255, 255, .5);
    }
    > section {
      position: relative;
      z-index: 2;
      width: 100%;
      height: 100%;
      padding: 80px 0 150px;
      margin: 0px 0 0px 0;
      overflow: auto;
    }
  }
}

.nav-mainmenu {
  display: inline-block;
  ul {
    li {
      margin: 0 5px;
      display: inline-block;
    }
  }
}

.site-logo {
  font-size: 40px;
  font-weight: 300;
  color: #ffffff;
  cursor: pointer;
  padding: 12px 20px;
  display: inline-block;
}

.page {
  width: 50%;
  margin: 10px;
  float: right;
  position: relative;
  opacity: .8;

  padding: 5px 25px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .1);
  @include box-shadow(0px, 0px, 11px, rgba(0, 0, 0, .1));

  h2 {
    font-weight: 300;
  }
}

.exhibition {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
}

.company-details {
  width: 40%;
  margin: 10px;
  float: right;
  position: relative;
}

.companies-filter {
  background: rgba(221, 221, 221, 0.84);
  border: 2px solid #333;
  padding: 2px;
  position: absolute;
  bottom: 160px;
  left: 10px;
  z-index: 10;
  width: 200px;
  .area {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    .header {
      background: #333;
      font-weight: 700;
      color: #fff;
      padding: 3px 5px 5px;
      text-transform: uppercase;
    }
    .content {
      /* padding: 5px 8px; */
      max-height: 100px;
      overflow: auto;
      overflow-x: hidden;
      .search-field {
        width: 100%;
        @include text-field;
        .glyphicon {
          font-size: 20px;
          top: 4px;
          right: 3px;
        }
      }
      li {
        background: rgba(0, 0, 0, 0);
        &:nth-child(2n) {
          background: rgba(255, 255, 255, 0.2);
        }
        a {
          color: #333;
          text-decoration: none;
        }
      }

    }
  }
}

.recent-companies {
  overflow: hidden;
  white-space: nowrap;
  background: #fff;
  padding: 6px 0 2px;
  opacity: 0.9;
  .title {
    float: left;
    vertical-align: middle;
    margin: 21px 40px 0px 20px;
    color: #000;
    font-weight: 300;
  }
  ul {
    width: 100%;
    li {
      display: inline-block;
      border-left: rgb(216, 216, 216) 1px solid;
      &:last-child {
        border-left: rgb(216, 216, 216) 1px solid;
      }
      .wrapper {
        width: 120px;
        height: 60px;
        background: #fff no-repeat center center;
      }
    }
  }
}

.news-ticker {
  overflow: hidden;
  background: rgba(0, 0, 0, .8);
  padding: 6px 0 2px;
  opacity: 0.9;
  margin-top: 8px;
  @include flexbox;
  @include flex-direction(row);
  .title {
    margin: 21px 40px 0px 20px;
    color: #fff;
    font-weight: 300;
  }
  ul {
    li {
      list-style: none;
      border-left: #ededed 1px solid;
      padding: 0 0 0 20px;
      .wrapper {
        color: #fff;
        font-weight: 100;
        font-size: 14px;
        height: 60px;
        overflow: auto;
        p {
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}





$time: .3s;
$easing: ease-in-out;
.page-transition-enter {
  transition: opacity $time $easing;
  opacity: 0;
  position: absolute;
}

.page-transition-enter.page-transition-enter-active {
  opacity: 1;
}

.page-transition-leave {
  transition: opacity $time $easing;
  opacity: 1;
  position: absolute;
}

.page-transition-leave.page-transition-leave-active {
  opacity: 0;
}
