@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $color;
    -moz-box-shadow: inset $top $left $blur $color;
    box-shadow: inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin text-field {
  display: inline-block;
  outline: none;
  border: 1px solid rgba(0, 0, 0, .4);
  text-decoration: none;
  padding: .5em;

  &.inner-addon {
    position: relative;
  }

  /* style glyph */
  &.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }

  /* align glyph */
  &.left-addon .glyphicon {
    left: 0px;
  }
  &.right-addon .glyphicon {
    right: 0px;
  }

  /* add padding  */
  &.left-addon input {
    padding-left: 30px;
  }
  &.right-addon input {
    padding-right: 30px;
  }
}

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
